
public class {{entity.name}} {
    {# Attribute definitons #}
    {% for attr in entity.attributes %}
    protected {{attr.type}} {{attr.name}};
        {% if attr.descriptions %}
        {% for descr in attr.descriptions %}{{descr}} {% endfor %}
        {% endif %}
    {% endfor %}

    {# Attribute getter and setters #}
    {% for attr in entity.attributes %}
    public {{attr.type}} get{{attr.name|title}}(){
        return this.{{attr.name}};
    }

    public void set{{attr.name|title}}({{attr.type}} {{attr.name}}){
        this.{{attr.name}} = {{attr.name}}
    }
    {% endfor %}

}