package {{config.qname}}.impl.fragments;
{{java_gen_once_comment}}
import {{config.qname}}.fragments.{{entity.name}}NewFragment;

public class {{entity.name}}NewFragmentImpl extends {{entity.name}}NewFragment {

}