<?xml version="1.0" encoding="utf-8"?>
{{xml_gen_comment}}
<resources>
    <string-array name="nav_drawer_labels">
    {% for entity in entities %}
        <item>{{entity.label}}</item>
    {% endfor %}
    </string-array>
    
    <string-array name="nav_drawer_tags">
    {% for entity in entities %}
        <item>{{config.qname}}.impl.fragments.{{entity.name}}ListFragmentImpl</item>
    {% endfor %}
    </string-array>
    {% if config.start_screen %}
    <item name="nav_drawer_default_position" type="integer">{{entities.index(config.start_screen)}}</item>
    {% endif %}
</resources>