<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="{{config.qname}}"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="{{android_specs.min_version}}"
        android:targetSdkVersion="{{android_specs.target_version}}" />

    <application
        android:name="applang.android.framework.ApplangApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="applang.android.framework.activities.BaseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        {% for entity in entities %}
        <provider
            android:name="{{config.qname}}.content_providers.{{entity.name}}ContentProvider"
            android:authorities="{{config.qname}}.{{entity.name|cameltounder}}_content_provider"
            android:exported="false">
        </provider>
        {% endfor %}
    </application>

</manifest>