package {{config.qname}}.impl.databases;
{{java_gen_once_comment}}
import android.content.Context;
import {{config.qname}}.databases.DatabaseOpenHelper;

public class DatabaseOpenHelperImpl extends DatabaseOpenHelper {

    //This constructor must exist
	public DatabaseOpenHelperImpl(Context context) {
		super(context);
	}

}
