package {{config.qname}}.impl.fragments;
{{java_gen_once_comment}}
import {{config.qname}}.fragments.{{entity.name}}DetailsFragment;

public class {{entity.name}}DetailsFragmentImpl extends {{entity.name}}DetailsFragment {

}