package {{config.qname}}.impl.fragments;
{{java_gen_once_comment}}
import {{config.qname}}.fragments.{{entity.name}}ListFragment;

public class {{entity.name}}ListFragmentImpl extends {{entity.name}}ListFragment {

}