<?xml version="1.0" encoding="utf-8"?>
{{xml_gen_comment}}
<resources>

    <string name="app_name">{{app_label}}</string>
    {% for entity in entities %}
    <!-- {{entity.name}} -->
    <string name="ent_{{entity.name|cameltounder}}">{{entity.label}}</string>
    {% for attribute in entity.attributes %}
    <string name="ent_{{entity.name|cameltounder}}_{{attribute.name|cameltounder}}">{{attribute.label}}</string>
    {% if attribute.view_from_container %}
   	<string name="ent_in_{{entity.name|cameltounder}}_as_{{attribute.name|cameltounder}}">"In '{{entity.label}}' as '{{attribute.label}}'"</string>
   	{% endif %}
    {% endfor %}
    {% endfor %}

</resources>